body{
  margin: auto;
}

p {
  font-size: 30px;
}
#container{

  width: 80vh;
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  text-align: center;
}

/* use percentage here to follow the parent */
.box{
  box-sizing: border-box;
  height: 33%; 
  width: 33%;
 border: 1px solid black;
 font-size: 20vh;
 text-align: center;
}

#result-box{
  margin: 5px solid black; 
  /* background-color: blue; */
  text-align: center;
}
